<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://primerproyectoazure20200708222454.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/52af09f5-fe35-439f-91dd-b34c41e6fea9/resourcegroups/FAQResources/providers/Microsoft.Web/sites/PrimerProyectoAzure20200708222454</ResourceId>
    <UserName>$PrimerProyectoAzure20200708222454</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://primerproyectoazure20200708222454.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>